@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    text-align: center;
    padding: 20px;
    background-color: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover{
    background-color: white;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.Principal{
    text-align: center;
    padding-bottom: 55px;
    padding-top: 20px;
    font-family: fantasy;
    font-weight: 250;
}

#Javinha{
    margin-top: 10px;
}

.Programer{
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}

.TextProg{
    width: 700px;
    margin: auto;
    text-align: justify;
    border: solid 2px black; 
    border-radius: 10px;
    padding: 10px;
}

img{
    width: 800px;
    height: 450px;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 40px;
    padding: 30px;
}

footer{
    background-color: rgb(14, 13, 13);
    margin-top: 70px;
    padding: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
